// Establish Variables
$color-primary: #FD8D24;
$color-primary-dark: #c87424;
$color-primary-light: #ffa34e;
$color-secondary: #26DDFD;
$color-secondary-dark: #00b3d3;
$color-secondary-light: #52e5ff;
$color-tertiary: #264DFD;
$color-tertiary-dark: #1f40d1;
$color-tertiary-light: #4668ff;
$color-grey: #A2A2A2;
$color-grey-dark: #8a8a8a;
$color-grey-light: #eeeeee;
$color-white: #fff;
$color-black: #000;
$font: Helvectica, sans-serif;

html {
  font-family: $font;
}